[submodule "movieverse-sentiment_analysis"]
	path = app/sentiment_analysis
	url = git@github.com:nikhilwahi/movieverse-sentiment_analysis.git
[submodule "movieverse-recommendation_system"]
	path = app/recommendation_system
	url = git@github.com:nikhilwahi/movieverse-recommendation_system.git
